{% extends "base.html" %}

{% block content %} 

{% load static %}

<div>
    <h1>estamos en Ventas</h1>
    {% comment %} <h2>Las ventas actuales son: {{num_ventas}}</h1> {% endcomment %}
    <h2>Las ventas actuales son: </h1>

    
</div>

{% endblock %}









{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
</head>
<body>
    
<h1>estamos en Ventas</h1>

</body>
</html> {% endcomment %}